	<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
 <html class="no-js"  ng-app="tmoApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>TMO - Taulava Madhwa Okkoota</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/icomoon-social.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/leaflet.css" />
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/screen.css">
		<link rel="stylesheet" href="css/wa-mediabox.min.css">
		<link rel="stylesheet" href="css/default.min.css">
		<link rel="stylesheet" href="css/divslider.css">
		<!--<link rel="stylesheet" href="css/videoGallery_cust.css">-->
		<link rel="stylesheet" href="css/videogular.css">
		<link rel="stylesheet" href="css/imageGallery.css">

		
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body ng-controller="homeCntrl">
        <!-- Navigation & Logo-->

        <div class="mainmenu-wrapper">
	        <div class="container">
	        	<div class="menuextras" id="user_menu" >
					<div class="extras">
						<ul>
						<div id="loginInDiv">
							<li><a href="index.html#/page-login" class="loginInfo">Login</a></li>
						</div>
							<div id="logoutDiv" ng-cloak>
								<div id="welcomeDiv"></div>
								<li><a href="index.html">Logout</a></li>
							</div
			        	</ul>
					</div>
					<div class="extras">
						<ul>
						<select ng-model="selectedLanguage" ng-change="changeLanguage()">
						  <option value="en" translate="Kannada"></option>
						  <option value="ka" translate="English"></option>
						</select>
			        	</ul>
					</div>
		        </div>
				
		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper"><a href="index.html"><img src="img/Logo1.png" alt="Multipurpose Twitter Bootstrap Template"></a></li>
						<li class="active">
							<!--<a href="index.html">{{ 'HEADLINE' | translate }}</a>-->
							<a href="index.html">{{ 'home' | translate }}</a>
						</li>
						<li class="has-submenu">
							<a href="#">{{ 'project' | translate }}</a>
								<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner"> 
									<div>
									<!--	<h4>Project</h4>-->
										<ul>
											<li><a href="index.html#/Ratha-Yathre">{{ 'ratha' | translate }}</a></li>
											<li><a href="index.html#/spirutualactivity">{{ 'spiritual' | translate }}</a></li>
											<li><a href="index.html#/socialactivity">{{ 'social' | translate }}</a></li
											<li><a href="index.html#/matrimony">{{ 'matrimony' | translate }}</a></li>
											<li><a href="index.html#/vidyanidhi">{{ 'vidyanidhi' | translate }}</a></li>
										</ul>
									</div>
								</div><!-- /mainmenu-submenu-inner -->
							</div><!-- /mainmenu-submenu -->
						</li>
						<li class="has-submenu">
							<a href="#">{{ 'involve' | translate }}</a>
								<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner"> 
									<div>
										<!--<h4>Get Involved</h4>-->
										<ul>
											<li><a href="index.html#/register">{{ 'Volunteer' | translate }}</a></li>
											<li><a href="index.html#/memberregister">{{ 'Member' | translate }}</a></li>
										</ul>
									</div>
								</div><!-- /mainmenu-submenu-inner -->
							</div><!-- /mainmenu-submenu -->
						</li>
						
						<li class="has-submenu">
							<a href="#">{{ 'gallery' | translate }}</a>
								<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner"> 
									<div>
									<!--	<h4>Galleries And Articles</h4>-->
										<ul>
											<li><a href="index.html#/imageGallery">{{ 'imagegallery' | translate }}</a></li>
											<li><a href="index.html#/videoGallery">{{ 'videogallery' | translate }}</a></li>
											<li><a href="index.html#/discssionAndForm">{{ 'discussion' | translate }}</a></li>
											<li><a href="index.html#/download">{{ 'download' | translate }}</a></li>
											<li id="adminPer"><a href="index.html#/eventSubmit">Event/Article Handler</a></li>
											<li id="adminPer"><a href="index.html#/docUpload">Document Upload</a></li>
											<!--<li><a href="index.html#/audioGallery">{{ 'audio' | translate }}</a></li>-->
										</ul>
									</div>
								</div><!-- /mainmenu-submenu-inner -->
							</div><!-- /mainmenu-submenu -->
						</li>
						
					</ul>
				</nav>
			</div>
		</div>
			<!-- Homepage Slider -->
        <div class="homepage-slider">
        	<div id="sequence">
				<ul class="sequence-canvas">
					<!-- Slide 1 -->
					<li class="bg4">
						<!-- Slide Title -->
						<h2 class="title">{{ 'social' | translate }}</h2>
						<!-- Slide Text -->
						<h3 class="subtitle">{{ 'social_title' | translate }}</h3>
						<!-- Slide Image -->
						<img class="slide-img" src="img/homepage-slider/culture-udupi.jpg" alt="Slide 1" />
					</li>
					<!-- End Slide 1 -->
					<!-- Slide 2 -->
					<li class="bg3">
						<!-- Slide Title -->
						<h2 class="title">{{ 'spiritual' | translate }}</h2>
						<!-- Slide Text -->
						<h3 class="subtitle"> {{ 'spiritual_title' | translate }}</h3>
						<!-- Slide Image -->
						<img class="slide-img" src="img/homepage-slider/SpiritualActivity.JPG" alt="Slide 2" />
					</li>
					<!-- End Slide 2 -->
					<!-- Slide 3 -->
					<li class="bg1">
						<!-- Slide Title -->
						<h2 class="title">{{ 'matrimony' | translate }}</h2>
						<!-- Slide Text -->
						<h3 class="subtitle">{{ 'matrimony_title' | translate }} </h3>
						<!-- Slide Image -->
						<img class="slide-img" src="img/homepage-slider/TMOMarriageMatrimonial.jpg" alt="Slide 3" />
					</li>
					<!-- End Slide 3 -->
				</ul>
				<div class="sequence-pagination-wrapper">
					<ul class="sequence-pagination">
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
				</div>
			</div>
        </div>
        <!-- End Homepage Slider -->
	
		<div id="content">
			<div ng-view></div>
		</div>
		
		
		 <div class="imageSection" id="sectionId">
				<style scoped>
					@import "css/gallery-image-autofit.css";
				</style>
				<div id="gallery" style=" margin-left: 150px; overflow:auto;">
					  <div class="list" infinite-scroll='loadMore()' id="gallery_child" 
					infinite-scroll-distance='2' 
					>

					<div class="row" id ="appendDiv">
										 <!--<div ng-repeat="x in infiniteList" id="imageSectionId">-->
										<div  class="col-xs-6 col-md-2 my-parent-element" style="height: 300px;">
											 <!-- <a href="/AngularTaulavaMadhwaOkkoota/demo-files/{{ x.name }}.{{ x.type }}" type="media_type" data-mediabox="gallery-{{$index}}" data-title="">
														<img class="imgClass" width="100%" height="100%" style="display: inline-block;" src="/AngularTaulavaMadhwaOkkoota/demo-files/{{ x.name }}.{{ x.type }}"  alt="Image {{$index}}" />
												</a>-->
								 		</div>
										 <!--</div>-->
						</div> 
					</div> 		
				</div>
				
		</div>
		
 <div ng-include src="'footer.html'"></div>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Welcome to Taulava Madhwa Okkoota</h4>
			</div>
			<div class="modal-body">
			  <p>Thank You!! We are looking your presence in all event. Welcome to TMO !!!!</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		  
		</div>
	  </div>
        <!-- Javascripts -->
		
		
		
        <script src="js/jquery-1.9.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script> 
		<script src="js/angular-route.js"></script>
		 <script src="js/oauth.js"></script>
		  <script src="js/StaticJsonTranslator.js"></script>
        <script src="js/jquery.fitvids.js"></script>
		<script src="js/leaflet.js"></script>
        <script src="js/jquery.sequence-min.js"></script>
        <script src="js/jquery.bxslider.js"></script>
        <script src="js/main-menu.js"></script>
        <script src="js/template.js"></script>
		<script src="js/wa-mediabox.min.js"></script>	 
		<script src="js/generic_controller/app.js"></script>
		<script src="js/highlight.min.js"></script>
		<script src="js/audio.js"></script>
		<script src="js/pdf.js"></script>
		<script src="js/pdf.worker.js"></script>
		<script src="js/downloadGallery.js"></script>
		<script src="js/all.js"></script>
		 <script src="js/angular-google-plus.min.js"></script>
		<script src="js/ui-bootstrap-tpls-0.3.0.min.js"></script>
		<script src="js/ui-scroll.js"></script>
		<script src="js/ng-infinite-scroll.js"></script>
		<script src="js/serviceDatasource.js"></script>
		<script src="js/angular-translate.min.js"></script>
		
		<script src="js/messageformat.js"></script>

    <script src="js/angular-cookies.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular-translate-interpolation-messageformat.js"></script>
    <script src="js/angular-translate-storage-cookie.js"></script>
    <script src="js/angular-translate-storage-local.js"></script>
    <script src="js/angular-translate-loader-url.js"></script>
    <script src="js/angular-translate-loader-static-files.js"></script>
    <script src="js/angular-translate-handler-log.js"></script>
		
		
		<script src="js/videogular.js"></script>
		<script src="js/vg-controls.js"></script>
		<script src="js/vg-overlay-play.js"></script>
		<script src="js/vg-poster.js"></script>
		<script src="js/vg-buffering.js"></script>
		<script src="js/angular-progressbar.js"></script>
		<script src="js/ng-file-upload.js"></script>
		<script src="js/youtube.js"></script>
			<script src="js/ng-file-upload-shim.js"></script>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="css/style.css">
		<!--  <link rel="stylesheet" href="css/videoGallery_cust.css">-->
       <script type="text/javascript" src="css/angular-animate.js"></script>
	   <script src="resource/config.js"></script>
	</body>
</html>